name: MacOS Test

on:
  push:
    branches:
    - master
    paths:
      - "lua/**"
      - "init.lua"
      - ".github/workflows/test_macos.yml"

jobs:
  container-job:
    runs-on: macos-latest
    steps:
    - name: Checkout
      run: git clone https://github.com/Avimitin/nvim $HOME/.config/nvim
    - name: Install Neovim
      run: |
        curl -LO https://github.com/neovim/neovim/releases/download/nightly/nvim-macos.tar.gz
        tar xzf nvim-macos.tar.gz
    - name: Install Sumneko Lua
      env:
        VERSION: '3.6.4'
      run: |
        curl -LO https://github.com/sumneko/lua-language-server/releases/download/$VERSION/lua-language-server-$VERSION-darwin-x64.tar.gz
        tar xzf lua-language-server-$VERSION-darwin-x64.tar.gz
    # This exist because of https://github.com/wbthomason/packer.nvim/issues/751
    - name: Patch
      run: sed -i '' 's/max_jobs = 40/max_jobs = nil/' $HOME/.config/nvim/lua/overlays/init.lua
    - name: Install plugins
      run: |
        export PATH="${PWD}/nvim-macos/bin:$PATH"
        INSTALL_LOG_FILE=$(mktemp)
        nvim --headless -c "au User PackerComplete quitall" &> $INSTALL_LOG_FILE
        if grep -qi "err" $INSTALL_LOG_FILE; then cat $INSTALL_LOG_FILE && false; fi
    - name: Bench
      run: |
        export PATH="${PWD}/nvim-macos/bin:${PWD}/bin:$PATH"
        cd $HOME/.config/nvim && ./scripts/benchmark.pl
